{% load activeurl %}

<nav class="bg-secondary">
  <div class="container d-flex">
    {% activeurl menu="no" %}
    <ul class="nav nav-dark">
        <li class="nav-item dropdown show">
          <a class="nav-link dropdown-toggle dropdown-toggle-split" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Posts
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'blogdemo:index' %}">Index</a>
            {% if user.is_authenticated %}
              <a class="dropdown-item" href="{% url 'blogdemo:profile' %}">My Posts</a>
              <a class="dropdown-item" href="{% url 'blogdemo:createpost' %}">Create Post</a>
            {% else %}
              <a class="dropdown-item disabled " href="{% url 'blogdemo:profile' %}">My Posts</a>
              <a class="dropdown-item disabled " href="{% url 'blogdemo:createpost' %}">Create Post</a>
            {% endif %}
          </div>
        </li>
        <li class="nav-item"><a href="{% url 'api-root' %}" class="nav-link">Api</a></li>
        <li class="nav-item dropdown show">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Showcase
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'blogdemo:owner_access' %}">Access Controll</a>
            <a class="dropdown-item" href="{% url 'blogdemo:transactions' %}">Transactions</a>
            <a class="dropdown-item" href="{% url 'blogdemo:api_authorisation' %}">Api Authorisation</a>
          </div>
        </li>
    </ul>
    {% endactiveurl %}
  </div>
</nav>