{% load activeurl %}

<nav class="bg-secondary">
  <div class="container d-flex">
    {% activeurl menu="no" %}
    <ul class="nav nav-dark">
        <li class="nav-item"><a href="{% url 'blogdemo:index' %}" class="nav-link">Index</a></li>
        <li class="nav-item"><a href="{% url 'blogdemo:createpost' %}" class="nav-link">Create Post</a></li>
        {% if user.is_authenticated %}
        <li class="nav-item"><a href="{% url 'blogdemo:profile' %}" class="nav-link">My Posts</a></li>
        {% endif %}
    </ul>
    {% endactiveurl %}
  </div>
</nav>