{% extends "blogdemo/base_blogdemo.html" %}

{% load crispy_forms_tags %}

{% block header %}<div class="col-12"><h1>Create new Post</h1></div>{% endblock %}

{% block text %}
    <div class="row">
        <div class="col-8">
            <form action="{% url 'blogdemo:createpost' %}" method="post">
                {% csrf_token %}
                {{form|crispy}}
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
{% endblock %}