<table>
    <tr>
        <td><i class="fas fa-user"></i></td>
        <td><span>Łukasz Nosal</span></td>
    </tr>
    <tr>
        <td><i class="fas fa-at"></i></td>
        <td><a href="mailto:lukasz.nosal@protonmail.com">Lukasz.nosal@protonmail.com</a></td>
    </tr>
    <tr>
        <td><i class="fab fa-linkedin"></i></td>
        <td><a href="https://linkedin.com/in/lukasz-nosal/">Linkedin</a></td>
    </tr>
    <tr>
        <td><i class="fab fa-github"></i></td>
        <td><a href="https://github.com/Vyroll">Github</a></td>
    </tr>
</table>