<div class="border-top bg-light footer-bottom mt-3 py-3">
    <footer class="container small">
        <div class="row">
            <div class="col-12 text-center">
                <span class="d-block mb-3 text-muted">Copyright © <a class="text-muted" href="http://vyroll.xyz/">Vyroll.xyz</a></span>
            </div>
            <div class="col-6">
                <h5><a class="text-body" href="{% url 'promo:contact' %}">Contact:</a></h5>
                <table>
                    <tr>
                        <td><i class="text-muted fas fa-user"></i></td>
                        <td><span class="text-muted">Łukasz Nosal</span></td>
                    </tr>
                    <tr>
                        <td><i class="text-muted fas fa-at"></i></td>
                        <td><a href="mailto:lukasz.nosal@protonmail.com" class="text-muted">Lukasz.nosal@protonmail.com</a></td>
                    </tr>
                    <tr>
                        <td><i class="text-muted fab fa-linkedin"></i></td>
                        <td><a href="https://linkedin.com/in/lukasz-nosal/" class="text-muted">Linkedin</a></td>
                    </tr>
                    <tr>
                        <td><i class="text-muted fab fa-github"></i></td>
                        <td><a href="https://github.com/Vyroll" class="text-muted">Github</a></td>
                    </tr>
                </table>
            </div>
            <div class="col-6">
                <h5>Quick links:</h5>
                <ul class="list-unstyled">
                    <li><a class="text-muted" href="{% url 'promo:index' %}">Home</a></li>
                    <li><a class="text-muted" href="{% url 'blogdemo:index' %}">Blog demo</a></li>
                    <li><a class="text-muted" href="{% url 'promo:contact' %}">Contact</a></li>
                    <li><a class="text-muted" href="{% url 'api-root' %}">Api</a></li>
                    <li><a class="text-muted" href="{% url 'admin:index' %}">Admin</a></li>
                </ul>
            </div>
        </div>
    </footer>
</div>