{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}

    {% if next %}
        <div class="mt-3 alert alert-warning" role="alert">
        {% if user.is_authenticated %}
        <span>
            Your account doesn't have access to this page. To proceed,
            please login with an account that has access.
        </span>
        {% else %}
        <span>Please login to see this page.</span>
        {% endif %}
        </div>
    {% endif %}
    
    <h1>Login</h1>
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        {{form|crispy}}
        <button type="submit" class="btn btn-primary">Login</button>
        <input type="hidden" name="next" value="{{ next }}">
    </form>
    <p><a href="{% url 'password_reset' %}">Lost password?</a></p>

{% endblock %}