/* bottom footer */
html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1 0 auto;
}
.footer-bottom {
  flex-shrink: 0;
}

/* fixed navbar */
body {
  padding-top: 56px;
}

/* ovveride navbar-dark to work with bav */
.nav-dark .navbar-brand {
    color: #fff;
  }
  
  .nav-dark .navbar-brand:hover, .nav-dark .navbar-brand:focus {
    color: #fff;
  }
  
  .nav-dark .nav-link {
    color: rgba(255, 255, 255, 0.5);
  }
  
  .nav-dark .nav-link:hover, .nav-dark .nav-link:focus {
    color: rgba(255, 255, 255, 0.75);
  }
  
  .nav-dark .nav-link.disabled {
    color: rgba(255, 255, 255, 0.25);
  }
  
  .nav-dark .show > .nav-link,
  .nav-dark .active > .nav-link,
  .nav-dark .nav-link.show,
  .nav-dark .nav-link.active {
    color: #fff;
  }
  
  .nav-dark .navbar-toggler {
    color: rgba(255, 255, 255, 0.5);
    border-color: rgba(255, 255, 255, 0.1);
  }
  
  .nav-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }
  
  .nav-dark .navbar-text {
    color: rgba(255, 255, 255, 0.5);
  }
  
  .nav-dark .navbar-text a {
    color: #fff;
  }
  
  .nav-dark .navbar-text a:hover, .nav-dark .navbar-text a:focus {
    color: #fff;
  }